body{
  background-image: linear-gradient(-90deg, #FFFFFF, #3B3B40);
  font-family: 'Lustria', serif;
  /*font-family: 'Press Start 2P', cursive;*/
}
h1{
    text-align: center;
    color: #000;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 5px 5px 1px #999999;
}
#circle{
  text-align: center;
  margin: 0px auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  font-size: 20px;
  color: #FFFFFF;
  /*border: 3px solid #C0C0C0;*/
  border: 3px solid #000000;
  padding: 3px;
  box-shadow: 0px 0px 3px 3px #3F3F3F;
  -moz-box-shadow: 0px 0px 3px 3px #3F3F3F;
  -webkit-box-shadow:0px 0px 3px 3px #3F3F3F;
  /*box-shadow: 0px 0px 3px 3px #FFFFFF;
  -moz-box-shadow: 0px 0px 3px 3px #FFFFFF
  -webkit-box-shadow:0px 0px 3px 3px #FFFFFF;*/
}
#circle p{
  position: relative;
  top:10%;
  transform: translateY(-50%);
}
.volvox {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 50%;
}
ul.margin li{
  margin-bottom: 10px;
}
#Links{
  text-align: center;
  margin: 0px auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  font-size: 20px;
  color: #FFFFFF;
  /*border: 3px solid #C0C0C0;*/
  border: 3px solid #000000;
  padding: 3px;
  box-shadow: 0px 0px 3px 3px #3F3F3F;
  -moz-box-shadow: 0px 0px 3px 3px #3F3F3F;
  -webkit-box-shadow:0px 0px 3px 3px #3F3F3F;
  /*box-shadow: 0px 0px 3px 3px #FFFFFF;
  -moz-box-shadow: 0px 0px 3px 3px #FFFFFF
  -webkit-box-shadow:0px 0px 3px 3px #FFFFFF;*/
}
#Links p{
  position: relative;
  top:10%;
  transform: translateY(-50%);
}
a:link { color: #0000ff; }
a:visited { color: #000080; }
a:hover { color: #FFFFFF; }
a:active { color: #ff8000; }
